@model Centro_Medico.Models.DIAGNOSTICO

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar?</h3>
<div>
    <h4>DIAGNOSTICO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreDiag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreDiag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoDiag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoDiag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fotografias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fotografias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medicamentos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicamentos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITA.estadoCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITA.estadoCita)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
