@model IEnumerable<Centro_Medico.Models.PACIENTE>

@{
    ViewBag.Title = "Index";
}

<h2>PACIENTES</h2>

<p>
    @Html.ActionLink("Nuevo Paciente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombresP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaNacimientoP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexoP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dpiP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccionP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonoP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombresP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaNacimientoP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexoP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dpiP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccionP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonoP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.codigoP }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.codigoP }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.codigoP })
        </td>
    </tr>
}

</table>
