@model Centro_Medico.Models.TIPO_EMPLEADO

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>TIPO_EMPLEADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripccionTipEmp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripccionTipEmp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoTipEmp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoTipEmp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.coidgoTipEmp }) |
    @Html.ActionLink("Regresar", "Index")
</p>
